<app-navbar></app-navbar>

<div class="row">
        <div class="col-sm-2"></div>
<div class="col-sm-6">
        <div class="containerproxi">

        <form class="form" (ngSubmit)="faireVirement()" #formVirement="ngForm">
        
                <div class="form-group">
                        <label for="compteDebit"> Compte à débiter:</label>
                        <select class="form-control" name="compteDebit" *ngIf="listeCptDebit" [(ngModel)]="compteDebit" required="required">
                            <option *ngFor="let compte of listeCptDebit" [value]="compte.numcompte">{{compte.numcompte}}</option>
                        </select>
                </div>       
                <div class="form-group">
                <label for="compteCredit"> Compte à créditer:</label>
                <select class="form-control" name="compteCredit" *ngIf="listeCptCredit" [(ngModel)]="compteCredit" required="required">
                <option *ngFor="let compte of listeCptCredit" [value]="compte.numcompte">{{compte.numcompte}} </option>
                </select>   
                </div>

                <div class="form-group">
                <label class="center-block">Montant du virement:</label>    
                <input type="number" class="form-control" class="form-control" required="required" [(ngModel)]="montant" [ngModelOptions]="{standalone: true}">
                </div>

                      
        
                <button class="btn btn-primary" [disabled]="!formVirement.form.valid" type="submit">Faire le Virement </button>  
                
                </form>
     
<br>
    <div *ngIf="message && !message.includes('Erreur');" class="alert alert-success">{{message}}</div>
    <div *ngIf="message && message.includes('Erreur');" class="alert alert-danger">{{message}}</div>
</div>
</div>        