
<div class="containerproxi">
    <table class="table table-striped">
        <thead class="thead-dark">
        <th></th>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Solde Compte courant</th>
        <th></th>
        </thead>
    <tr *ngFor="let client of clients"  
    [class.selected]="client === selectedClient"
    (click)="afficherComptes(client)">
      <th></th>
      <th>{{client.idClient}}</th>
      <th>{{client.nom}}</th>
      <th>{{client.prenom}}</th>
      <th>{{client.adresse}} {{client.codePostal}} {{client.ville}}</th>
      <th>{{client.telephone}}</th>
      <th>{{client.email}}</th>
      <th> 00</th>
      <th>Modifier</th>       
    </tr>
    </table>
</div>

<br>
<br>
<div *ngIf="selectedClient">
    <div *ngFor="let compte of listeCptCli" class="col-sm-6">
        <div class="containerproxi" [class.decouvert]="compte.solde<0" >
            Compte n° {{compte.idCompte}}<br>            
            Solde: {{compte.solde}}<br>
            Type de Compte: {{compte.type}}<br>
    </div>
    </div>

</div>

