
<app-navbar></app-navbar>
<div class="containerproxi">
    <table class="table table-striped">
        <thead class="thead-dark">
        <th></th>
        <th>Id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Adresse</th>
        <th>Telephone</th>
        <th>Email</th>
        <th></th>
        </thead>
    <tr *ngFor="let client of clients"  
    [class.selected]="client === selectedClient">
      <th (click)="afficherComptes(client)"></th>
      <th (click)="afficherComptes(client)">{{client.idcli}}</th>
      <th (click)="afficherComptes(client)">{{client.nomcli}}</th>
      <th (click)="afficherComptes(client)">{{client.prenomcli}}</th>
      <th (click)="afficherComptes(client)">{{client.Adresse}} {{client.codepostal}} {{client.Ville}}</th>
      <th (click)="afficherComptes(client)">{{client.Telephone}}</th>
      <th (click)="afficherComptes(client)">{{client.Email}}</th>
      <th  routerLink="/conseiller/Modifierclient/{{client.idcli}}">Modifier</th>       
    </tr>
    </table>
</div>

<br>
<br>
<div *ngIf="selectedClient">
    <div *ngFor="let compte of listeCptCli" class="col-sm-6">
        <div class="containerproxi" [class.decouvert]="compte.solde<0" >
            Compte n° {{compte.idCompte}}<br>            
            Solde: {{compte.solde}}<br>
            Type de Compte: {{compte.type}}<br>
    </div>
    </div>

</div>

<app-btn-ajout></app-btn-ajout>

