
<app-navbar></app-navbar>


        
   
      <div class="col-sm-2">
      </div>

      <div class="col-sm-8">
            <div class="containerproxi">
                        <div *ngIf="message" class="alert alert-success">{{message}}</div>


                        <form class="form" (ngSubmit)="addClient()" #formajout="ngForm">
                             

                                <div class="form-group">
                                <label class="center-block">Nom du Client:</label>    
                                <input type="text" class="form-control" required [(ngModel)]="nomcli" [ngModelOptions]="{standalone: true}">
                               
                                
                                <label class="center-block">Prénom du Client:</label>    
                                <input type="text" class="form-control" required="required" [(ngModel)]="prenomcli" [ngModelOptions]="{standalone: true}">
                             
                                                        
                               
                                <label class="center-block">Adresse:</label>    
                                <input type="text" class="form-control" required="required" [(ngModel)]="Adresse" [ngModelOptions]="{standalone: true}">
                                

                                <label class="center-block">Code Postal:</label>    
                                <input type="text" class="form-control" required="required" [(ngModel)]="codepostal" [ngModelOptions]="{standalone: true}">
                              

                                <label class="center-block">Ville:</label>    
                                <input type="text" class="form-control" required="required" [(ngModel)]="Ville" [ngModelOptions]="{standalone: true}">
                            

                                <label class="center-block">Téléphone:</label>    
                                <input type="text" class="form-control" required="required" [(ngModel)]="Telephone" [ngModelOptions]="{standalone: true}">
                          

                                <label class="center-block">Adresse Mail:</label>    
                                <input type="text" class="form-control" required="required" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}">
                                
                              </div>
                                  
                                
                                <button class="btn btn-primary" [disabled]="!formajout.form.valid" type="submit">Ajouter le Client </button>  
                             
                        </form>
                        </div>
      </div>
      
                             