

<div class="container-fluid">
		<div class="row">
        <div class="col-sm-3"></div>        
			<div class="col-sm-6">
          <div class="containerproxi">
          <input class ="form-control" id="nom" placeholder='Nom'>
          <input class ="form-control" id="prenom" placeholder='Prenom'>
          <input class ="form-control" id="adresse" placeholder='Adresse'>
          <input class ="form-control" id="codepostal" placeholder='Code Postal'>
          <input class ="form-control" id="ville" placeholder='Ville'>
          <input class ="form-control" id="telephone" placeholder='Telephone'>
          <input class ="form-control" id="email" placeholder='Email'>
          <br>          
          <button routerLink="/conseiller/listeclients"  class=".btn-default"><p>Ajouter un client</p></button>
      </div>
      <div class="col-3">
      </div>
      </div>
      </div>
      </div>
