<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="col-sm-5">
      <br>
      Bonjour {{conseiller.prenomcons}} {{conseiller.nomcons}} 
      </div>
      <ul class="nav navbar-nav">
        <li routerLink="/conseiller/listeclients"><a>Gestion des Clients</a></li>        
        <li routerLink="/conseiller/Virement"><a >Virements</a></li>
        <li *ngIf="userRole=='gerant'" routerLink="/gerant/listeconseillers" > <a>Liste des Conseillers</a></li>
        <li routerLink="/deconnexion" (click)="deconnexion()" ><a >Deconnexion</a></li>
      

      </ul>   
    </div>
  </nav>

