<app-navbar></app-navbar>
<div class="row">
<div class="col-sm-2"></div>
    <div class="col-sm-8">
        
        <div class="containerproxi">

                <form class="form" (ngSubmit)="ModifierClient()" #formmodif="ngForm">
                             

                        <div class="form-group">
                        <label class="center-block">Nom du Client:</label>    
                        <input type="text" class="form-control" required [(ngModel)]="nomcli" [ngModelOptions]="{standalone: true}" value= "{{client?.nomcli}}">
                       
                        
                        <label class="center-block">Prénom du Client:</label>    
                        <input type="text" class="form-control" required="required" [(ngModel)]="prenomcli" [ngModelOptions]="{standalone: true}" value= "{{client?.prenomcli}}">
                     
                                                
                       
                        <label class="center-block">Adresse:</label>    
                        <input type="text" class="form-control" required="required" [(ngModel)]="Adresse" [ngModelOptions]="{standalone: true}" value= "{{client?.Adresse}}">
                        

                        <label class="center-block">Code Postal:</label>    
                        <input type="text" class="form-control" required="required" [(ngModel)]="codepostal" [ngModelOptions]="{standalone: true}" value= "{{client?.codepostal}}">
                      

                        <label class="center-block">Ville:</label>    
                        <input type="text" class="form-control" required="required" [(ngModel)]="Ville" [ngModelOptions]="{standalone: true}" value= "{{client?.Ville}}">
                    

                        <label class="center-block">Téléphone:</label>    
                        <input type="text" class="form-control" required="required" [(ngModel)]="Telephone" [ngModelOptions]="{standalone: true}" value= "{{client?.Telephone}}">
                  

                        <label class="center-block">Adresse Mail:</label>    
                        <input type="text" class="form-control" required="required" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}" value= "{{client?.Email}}"> 
                        
                      </div>
                          
                        
                        <button class="btn btn-primary" [disabled]="!formmodif.form.valid" type="submit">Modifier le Client </button>  
                     
                </form>

                    <div *ngIf="message" class="alert alert-success">{{message}}</div>
                    </div>
                </div>
                    <div class="col-sm-2"></div>
                    </div>






      
    
